


body {
    height: 90vh;
    background: linear-gradient(200deg,#e52e71,#ff8a00);
}

.slider-thumb::before {
    position: absolute;
    content: "";
    left: 17%;
    top: 10%;
    width: 100vh;
    height: 90vh;
    background: #00000049;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
}
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
        transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}

h2 {
    text-align: center;
    margin-bottom: 0.4em;
    text-shadow: 1px 1px 2px rgba(58, 58, 58, 0.301);
}

.container {
    margin-top: 18em;
    border-radius: 6px;
    background-color: #fffffff1;
    padding: 15px;
    display:block;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
    color: rgba(255, 255, 255, 0.938);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.form-campo {
    margin-bottom: 16px;
}

label {
    text-shadow: 2px 2px 4px rgb(5, 5, 5);
}

.animate-charcter{
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #ff7300 100%);
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

input {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}